<div style="width:100%;height:100vh;background: rgba(127,93,240,1);
background: -moz-linear-gradient(-45deg, rgba(127,93,240,1) 0%, rgba(127,93,240,1) 29%, rgba(163,57,233,1) 76%, rgba(182,39,230,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(127,93,240,1)), color-stop(29%, rgba(127,93,240,1)), color-stop(76%, rgba(163,57,233,1)), color-stop(100%, rgba(182,39,230,1)));
background: -webkit-linear-gradient(-45deg, rgba(127,93,240,1) 0%, rgba(127,93,240,1) 29%, rgba(163,57,233,1) 76%, rgba(182,39,230,1) 100%);
background: -o-linear-gradient(-45deg, rgba(127,93,240,1) 0%, rgba(127,93,240,1) 29%, rgba(163,57,233,1) 76%, rgba(182,39,230,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(127,93,240,1) 0%, rgba(127,93,240,1) 29%, rgba(163,57,233,1) 76%, rgba(182,39,230,1) 100%);
background: linear-gradient(135deg, rgba(127,93,240,1) 0%, rgba(127,93,240,1) 29%, rgba(163,57,233,1) 76%, rgba(182,39,230,1) 100%);
">
<div class="vertical-center">
<div class="container" style="max-width:500px;">

<h3 class="animated fadeIn"style="font-family:'raleway',sans-serif; font-weight:100; color:white;"><i class="fa fa-user" style="margin-right:8px; color:white"></i>Sign Up</h3>

<h5 style="font-family:'montserrat',sans-serif; color:white;">Fill in the required fields to sign up</h5>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div style="font-family:'montserrat',sans-serif;  color:white; font-size:12px;">
    	<%= f.input :email, required: true, autofocus: true %>
    </div>
    <div style="font-family:'montserrat',sans-serif;  color:white; font-size:12px;">
   		 <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div style="font-family:'montserrat',sans-serif;  color:white; font-size:12px;">
    <%= f.input :password_confirmation, required: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", :class => 'btn btn-primary btn-outline with-arrow btn-md', :style => 'color:white; font-family:"montserrat", sans-serif; font-size:12px;'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>

<style>
	.help-block {
		color:white;
	}
	.form-control {
		color:white;
		font-size:12px;
	}
  	
  	body {
  		width:100%;
  		overflow-x:hidden;
  	}
  	.vertical-center {
  
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  }
</style>
