<div class="jumbotron" style="height:auto; padding-top:100px; padding-bottom:100px;">
    <div class="container">
        <h1 style="font-family:'montserrat',sans-serif;">
            <% if @user.try(:admin?) %>
                <i class="fa fa-diamond" style="color:purple"></i>
            <% else %>
                 <i class="fa fa-user" style="color:#27E1CE"></i>
            <% end %>
            <% if @user.name? %>
                <%= @user.name %>
            <% else %>
                Post Card Co User
            <% end %>
        </h1>
        <div class="row">
        
            <div style="max-width:400px; padding:5px; margin-bottom:10px;">
                <% if @user.avatar? %>
                    <%= image_tag @user.avatar.url(:medium), :class => 'img img-rounded img-circle', :style => 'width:200px; height:180px; display: inline-block' %>
                <% else %>
                    <image style="width:200px; height:180px; display: inline-block" class="img img-rounded img-circle" src="/assets/nobody.jpg"></image>
                <% end %>
                <div style="float:right;display:inline-block; margin-top:30px;">
                    <h5 class="text-muted"><i class="fa fa-envelope" style="margin-right:5px;"></i> <%= @user.email %></h5>
                    <h5 class="text-muted"><i class="fa fa-phone" style="margin-right:5px;"></i> <%= @user.email %></h5>
                    <h5 class="text-muted"><i class="fa fa-envelope" style="margin-right:5px;"></i> <%= @user.email %></h5>
                </div>
            </div>
            <% if @user.bio? %>
                <p style="margin-left:5px;font-family:'montserrat', sans-serif; font-size:12px;" class="text-muted"><strong>About <%= @user.name %></strong> <br><%= @user.bio %></p>
            <% else %>
                <p style="margin-left:5px;font-family:'montserrat', sans-serif; font-size:12px;" class="text-muted"><strong>About This User</strong> <br>I like to contribute to Post Card Co ! :)</p>
            <% end %>
            <p style="margin-left:5px;font-family:'montserrat', sans-serif; font-size:12px;" class="text-muted"><strong>Last Seen </strong> <br><%= time_ago_in_words(@user.last_sign_in_at) %></p>
        </div>
    </div>
</div>

