

<% if current_user.try(:admin?) %>
<div class="jumbotron">
	<div class="container">
		<h1>Administration</h1>
	</div>
</div>
	<div class="container">
		<h1>Sup <%= current_user.email %>. You Know You're an Admin Right?</h1>
		<div class="row">
		<div class="col-md-5">
		  <h6 style="color:gray">POST Card Co has <%= @user.count %> Users</h6>
			<% @user.each do |user| %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<% if user.admin? %>
							<i class="fa fa-star"></i>
						<% else %>
							<i class="fa fa-user"></i>
						<% end %>
						<%= link_to user.email.capitalize, user  %>
						<% if user.admin? %>
							<span class="label label-primary">Admin</span>
						<% elsif user.artist? %>
							<span class="label labe-primary">Artist</span>
						<% else %>
							<span class="label label-success">User</span>
						<% end %>
					</div>
					<div class="panel-body">
						<h6>Date Joined <b class= 'text-muted'><%= time_ago_in_words(user.created_at) %> ago</b></h6>
						<h6>Last Sign In At <b class= 'text-muted'><%= time_ago_in_words(user.last_sign_in_at) %> ago</b></h6>
						<h6>User Signed In <b class= 'text-muted'><%= user.sign_in_count %> times</b></h6>


					</div>
				</div>
				
			<% end %>
		</div>
		<div class="col-md-7">
			<h2>Latest Cards</h2>
			<h6>There are <%= @post.count %> posts.</h6>
			<% @post.each_slice(3) do |row| %>
				<div class="row">

					<% row.each do |post| %>
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5><b><%= post.title %></b></h5>
									<h6>Created <b class="text-muted"><%= time_ago_in_words(post.created_at) %></b> ago</h6>
									<h6>Posted By <b><%= post.user.email %></b></h6>
									<h6>Last Edited <b class= 'text-muted'><%= time_ago_in_words(post.updated_at) %></b> ago</h6>
								</div>
							<div class="panel-body">
								
								<%= image_tag post.postcardimg.url(:medium), :class => 'img img-responsive'%>
								<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, post %>
							</div>

						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
		</div>

	<% else %>
		<div style="
background: rgba(157,101,241,1);
background: -moz-linear-gradient(45deg, rgba(157,101,241,1) 0%, rgba(83,67,254,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(157,101,241,1)), color-stop(100%, rgba(83,67,254,1)));
background: -webkit-linear-gradient(45deg, rgba(157,101,241,1) 0%, rgba(83,67,254,1) 100%);
background: -o-linear-gradient(45deg, rgba(157,101,241,1) 0%, rgba(83,67,254,1) 100%);
background: -ms-linear-gradient(45deg, rgba(157,101,241,1) 0%, rgba(83,67,254,1) 100%);
background: linear-gradient(45deg, rgba(157,101,241,1) 0%, rgba(83,67,254,1) 100%); height:100vh;padding-top:200px;"  class=" text-center">
		<div class="container">
		<h2 style="color:white;"><i class="fa fa-gitlab"></i></h2>
			<h1 style="font-family:'roboto',sans-serif; font-weight:100; font-size:60px; color:white;">Sorry.</h1>
			<h6 class="h6class" style="color:white;"><b>Something went wrong, Or you Can't View This Page</b></h6>
			</div>
		</div>
<% end %>
</div>

<style>


	a:hover {
		background-color:transparent;
	}
</style>