<div style="width:100%;height:100vh;background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
  <div class="container" >
    <div style="width:100%;margin-left:auto; margin-right:auto; ">
          <h3 class="animated fadeIn"style="font-family:'raleway',sans-serif; font-weight:100; color:white; font-size:50px;"><i class="fa fa-lock" style="margin-right:8px; color:white"></i>Log In</h3>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
             <div style="font-family:'montserrat',sans-serif; color:white; font-size:12px;">
                <%= f.input :email, required: false, autofocus: true %>
             </div>
          <div style="font-family:'montserrat',sans-serif; color:white; font-size:12px;">
            <%= f.input :password, required: false %>
          </div>
          <div style="font-family:'montserrat',sans-serif; color:white; font-size:12px;">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", :class => 'btn btn-outline btn-primary btn-lg with-arrow', :style => 'font-family:"montserrat", sans-serif; font-size:12px; color:white;' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<style>
.form-control {
    color:white;
    font-size:12px;
  }

.vertical-center {
  width:100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  }

</style>