<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div style="font-size:12px;font-family:'montserrat',sans-serif;">
    <%= f.input :title %>
    </div>
    <div style="font-size:12px;font-family:'montserrat',sans-serif;">
    <%= f.input :description %>
    </div>
    <div style="font-size:12px;font-family:'montserrat',sans-serif;">
    <%= f.input :postcardimg, as: :file %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary btn-outline with-arrow" %>
  </div>
<% end %>
