<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :postcardimg, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary btn-outline with-arrow", data: {disable_with: '<i class="fa fa-spinner fa-spin"></i>'}%>
  </div>
<% end %>
