

<div class="jumbotron">
  <div class="container">
    <h1>Our Cards</h1>
    <h4>Contributed By You</h4>
  </div>
</div>

<div id="content">
<div  class="container">
  <h1 style="font-family:'montserrat', sans-serif">Recently Added</h1>
  <h6 class="text-muted">There are currently  <b><%= @user.count %></b> active users and <b><%= @posts.count %></b> Card Uploads.</h6>



<% @posts.each_slice(4) do |array_of_3_items|%>
  <div class="row">
    
      <% array_of_3_items.each do |post|%>
      <div class="col-md-3">
        <div class="panel panel-default panel-custom">
          <div class="panel-heading">
            <b><%= post.title.titleize %></b>
            <br>
            <span class="text-muted" style="margin-bottom:0px; line-height:0px;font-family:'Montserrat', sans-serif; font-size:10px;"><i class="fa fa-user" style="color:#27E1CE; margin-right:5px;"></i><%= post.user.email %> </span>
            </br>
           <span class="text-muted" style="line-height: 0px; margin-top:0px;font-family:'Montserrat', sans-serif; font-size:10px;"><i class="fa fa-clock-o" style="color:#27E1CE; margin-right:5px;"></i><%= time_ago_in_words(post.created_at) %> ago </span>
          </div>
          <div class="panel-body">
            <%= image_tag post.postcardimg.url(:medium), :class => 'img img-responsive', :style => ('width:100%; height:auto')%>
            <p style="font-size:12px;margin-top:5px; text-indent:10px; font-family:'montserrat',sans-serif;"><i><%= truncate(post.description).capitalize %></p></i>
            <a><%= link_to 'Show More<i class="fa fa-arrow-right"></i>'.html_safe , post , :class => 'btn btn-primary btn-outline with-arrow btn-sm' %></a>

          </div>
          
        </div>

      
    </div>
    <% end %>
  </div>
<% end %>

<div class="text-center"><%= will_paginate @collection, renderer: BootstrapPagination::Rails %></div>


    
    
   
   
    

<div class="container" style="margin-bottom:20px;">
  

  <%= link_to 'New Post<i class="fa fa-arrow-right"></i>'.html_safe, new_post_path, :class => 'btn btn-primary btn-outline with-arrow' %>

</div>
</div>
</div>

<style>
  .pagination > .active > span {
    background-color:#27E1CE;
    border-color:white;
  }

  .vertical-center {
    
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  }

 
</style>

<script>
  $.stellar();

 
</script>
