<!DOCTYPE html>
<html>
<head>
  <title>Staticapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>
</head>
<body>

<% if current_user.try(:admin?) %>
  
  <nav class="admintop" style=" -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.18);padding-top:5px; padding-bottom:5px;top:0px;width:100%; background-color:#27E1CE;position:fixed; z-index:999; height:auto;">
      <div class="container">
        <h6 style="color:white;"class="h6class"><i style="margin-right:5px;"class="fa fa-diamond"></i>POST Card Co Admin<i style="float:right" class="adminclosebtn fa fa-close"></i></h6>

      </div> 
    </nav>
  
  <!-- bottom admin footer -->
    <nav class="adminbottom" style=" padding-top:5px; padding-bottom:5px;bottom:0px;width:100%; background: rgba(255,77,252, 1);
    background: -moz-linear-gradient(45deg, rgba(255,77,252,0.1) 0%, rgba(177,96,235,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,77,252,1)), color-stop(100%, rgba(177,96,235,0.61)));
    background: -webkit-linear-gradient(45deg, rgba(255,77,252,1) 0%, rgba(177,96,235,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,77,252,1) 0%, rgba(177,96,235,0.1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,77,252,1) 0%, rgba(177,96,235,0.1) 100%);
    background: linear-gradient(45deg, rgba(255,77,252,1) 0%, rgba(177,96,235,0.1) 100%);;position:fixed; z-index:999; height:auto;">
      <div class="container">
        <h6 style="color:white;"class="h6class"><i style="margin-right:5px;"class="fa fa-star"></i>You Are Signed In As An Admin</h6>

      </div> 
    </nav>
  <!-- end bottom admin footer -->

<% end %>

<!-- end admin if statemtn -->


<% if notice %>
  <div id="notice" class="notice text-center" style="padding-top:50px; padding-bottom:50px;z-index:9999;background-color:rgba(0, 0, 0, 0.82);  width:100%; height:auto; ">
    <h1><i class="fa fa-rocket animated zoomInLeft" style="color:#27e1ce;"></i></h1>
    <h2 style="color:white; font-family:'raleway', sans-serif; font-weight:100;"><%= notice %></h2>
  </div>
<% end %>
<% if alert %>
  <div id="alert" class="alert text-center" style="margin-bottom:0px;padding-top:50px; padding-bottom:50px;z-index:9999;background-color:rgba(0, 0, 0, 0.82);  width:100%; height:auto;">
    <h1><i class="fa fa-close" style="color:#27e1ce;"></i></h1>
    <h2 style="color:white; font-family:'raleway', sans-serif; font-weight:100;"><%= alert %></h2>
  </div>
<% end %>

<% if current_user.try(:admin?) %>
  <nav class="navbar navbar-default navbar-fixed-top" style="top:30px;font-size:12px; font-family:'montserrat', sans-serif; font-weight:100; color:white;">
<% else %>
<nav class="navbar navbar-default navbar-fixed-top" style="font-size:12px; font-family:'montserrat', sans-serif; font-weight:100; color:white;">
<% end %>
      <div class="container">
        <div class="navbar-header" style="color:white;" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'POST Card Co', root_path, :class => 'navbar-brand', :style => 'color:white' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav hovercolor">
            <% if user_signed_in? %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'Explore', posts_path %></li>
              <li><%= link_to 'Create', new_post_path %></li>
            <% else %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'Careers', careers_path %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          		<li><a><i class="fa fa-send" style="color:#27E1CE;"></i></a></li>
          		<li><a><i class=" fa fa-envelope" style="color:#27E1CE;"></i></a></li>
          		<li><a><i class="fa fa-globe" style="color:#27E1CE;"></i></a></li>

        		
        		<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.try(:admin?) %>
                   <i class="fa fa-diamond" style="color: #9227E1;"></i>
                <% else %>
                  <i class="fa fa-user" style="color: #27E1CE; margin-right:5px;"></i>
                <% end %>
                  <%= current_user.email %> <span class="caret"></span>
                
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Profile', current_user %></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Your Account </li>
                  
                  <li><%= link_to '<i class="fa fa-sign-out"></i> Sign Out'.html_safe, destroy_user_session_path, :method => :delete %></li>
                  <li><%= link_to '<i class="fa fa-gears"></i> Settings'.html_safe, edit_user_registration_path%></li>
                </ul>
              </li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li>
            	
            	<%= link_to 'Sign Up<i class="fa fa-arrow-right"></i>'.html_safe, new_user_registration_path, :class => 'btn btn-primary btn-outline with-arrow btn-sm', :style => 'font-size: 12px; font-family:montserrat, sans-serif; height:auto; padding-bottom:5px; padding-top:5px; margin-top:10px;' %>
  					
				
            	
            </li>
            
            <% end %>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<%= yield %>




<div data-stellar-background-ratio="0.5" class="fh5co-cta" style="background-image: url('/assets/slide_2.jpg'); background-attachment:fixed;background-size:cover;">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box fadeInUp animated">
				<i class="fa fa-send" style="font-size:50px; margin-bottom:20px; color:#27E1CE;"></i>
				<h3>Never Mail Another Card Again</h3>
				<p>Let us do it for you.</p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="fa fa-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<h1 style="font-family:'Raleway',sans-serf; color:white; font-weight:100;">Post Card Co</h1>

			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="fa fa-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Site Map</h3>
				<ul class="float">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Getting Started</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
        <% if user_signed_in? %>
				<ul class="float">
					<li><a href="#">Create</a></li>
					<li><a href="#">Explore</a></li>
					<li><a href="#">My Cards</a></li>
					
				</ul>
        
        <% end %>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Follow Us</h3>
				<ul class="fh5co-social">
					<li><a href="#"><i class="fa fa-twitter" style="color:#27E1CE;"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" style="color:#27E1CE;"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" style="color:#27E1CE;"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" style="color:#27E1CE;"></i></a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<i class="fa fa-leaf"style="color:#27E1CE; font-size: 20px;"></i>
				<p>© 2016 POST Card Co All Rights Reserved. </p>
			</div>
			
		</div>
	</footer>
	<script src="assets/jquery.min.js"></script>
 
	<script>
	 

	$(document).ready(function() {

    if ($(window).width() < 600 ) {
      $('.navbar-default').css('background-color','#262626');
    }
    
    else {
    $('.navbar-default').css('background-color', 'transparent');
    $('.navbar-default').css('border', 'none');  
    $('.adminbottom').css('opacity', '0');
    
    };

		
    
    
  
  $(".adminclosebtn").click(function() {
     $(".admintop").addClass('animated bounceOutUp');
     $(".navbar-default").css('top', '0px');
  });

  

  $(".fa-star").click(function() {
    $('.admintop').removeClass('animated bounceOutUp');
    $(".admintop").addClass('animated bounceInDown');
    $(".navbar-default").css('top', '30px');

  });
		
		$(document).scroll(function() {
  			if ($(document).scrollTop() > 50) {
    // user scrolled 50 pixels or more;
    // do stuff
    		$('.adminbottom').addClass('animated slideInUp');
    		
        $('.navbar-default').css('background-color', '#262626');
    		$('.navbar-default').css('-webkit-box-shadow', '1px 2px 5px 3px rgba(0,0,0,0.18)');
        $('.adminbottom').css('opacity', '1');

        
  			} else {

          

          $('.adminbottom').css('opacity', '0');
    			$('.navbar-default').css('background-color', 'transparent');
    			$('.navbar-default').css('-webkit-box-shadow', '0px 0px 0px 0px rgba(0,0,0,0.00)');
    			
  };
});
	});
</script>
<style>
    .navbar-default .navbar-nav > li > a {
      color:white;

    }

    .navbar-default .navbar-nav > li > a:hover {
      color:#8A9DAF;
      
    }

    
</style>
</body>
</html>
